---
layout: splash
author_profile: false

header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: /assets/images/index.jpg
  actions:
    - label: "立即开始"
      url: "/dev/"
  caption: "图片来源：[**Priority Interrupt 的 Delver**](https://store.steampowered.com/app/249630/Delver/)"

excerpt: "libGDX 是一个基于 OpenGL (ES) 的跨平台 Java 游戏开发框架，支持 Windows、Linux、macOS、Android、浏览器和 iOS。"
intro:
  - excerpt: '_libGDX 提供了久经考验、稳健可靠的环境，助力快速原型开发和快速迭代。libGDX 不会强加任何特定的设计或编码风格，而是给你自由，让你以自己喜欢的方式创作游戏。_ <!-- Place this tag where you want the button to render. -->
<br/><br/><a class="github-button" href="https://github.com/libgdx/libgdx" data-size="large" data-show-count="true" aria-label="Star libgdx/libgdx on GitHub">Star</a>
<a class="github-button" href="https://github.com/libgdx/libgdx/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork libgdx/libgdx on GitHub">Fork</a>'
feature_row:
  - title: "跨平台"
    excerpt: "只需[同一套代码](/features/)，就能把游戏发布到 Windows、macOS、Linux（包括树莓派！）、Android、iOS 和 HTML5。"
  - title: "开源"
    excerpt: "libGDX 基于 Apache 2.0 许可证开源，由社区维护。[欢迎前来贡献！](/dev/#contributing-to-libgdx)"
  - title: "功能丰富"
    excerpt: "libGDX [功能齐全、开箱即用](/features/)。安心编写 2D 或 3D 游戏，底层细节交给 libGDX 处理。"
feature_row2:
  - title: "极速性能"
    excerpt: "通过精心的 API 设计和自定义集合类，极力避免 ART/JavaScript 环境中的垃圾回收开销。"
  - title: "久经考验"
    excerpt: "libGDX 是一个久经考验、稳定可靠的框架，拥有坚实的基础和完善的[文档](/wiki/)。此外，已有[大量游戏](/showcase/)基于 libGDX 构建，其中许多都是开源的。"
  - title: "活跃社区"
    excerpt: "从热情友好的游戏与应用开发者[社区](/community/)获得有力支持，或者探索我们丰富的[第三方生态](https://github.com/rafaskb/awesome-libgdx#readme)。"
tag_preview:
    image_path: /assets/images/update.jpeg
    alt: "最新版本"
    btn_label: "查看完整更新日志"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/discord.svg
    alt: "Discord"
    title: "libGDX 社区"
    excerpt: 'libGDX 在 Discord、Reddit 和 Stack Overflow 等多个平台上都拥有非常活跃的社区。如果你在寻找入门的去处，我们的 Discord 服务器绝对是最合适的选择。'
    url: "/community/"
    btn_label: "了解更多"
    btn_class: "btn--primary"
feature_row5:
  - excerpt: '快前往我们的作品展示板块，看看这些游戏吧！'
    url: "/showcase/"
    btn_label: "更多作品"
    btn_class: "btn--primary"
feature_row6:
  - image_path: /assets/images/jams.jpeg
    alt: "Game Jam"
    title: "Game Jam"
    excerpt: "我们的社区定期举办围绕不同主题的 libGDX Game Jam。这是同时了解 libGDX 和我们社区的理想机会。"
    url: "/community/jams/"
    btn_label: "阅读更多"
    btn_class: "btn--primary"
carousel_elements:
    - image: assets/images/index_showcase/game0.png
      title: Pathway <br/>Robotality 出品
      link: https://store.steampowered.com/app/546430/Pathway/
    - image: assets/images/index_showcase/game1.png
      title: Residual <br/>Orangepixel 出品
      link: https://store.steampowered.com/app/1290780/Residual/
    - image: assets/images/index_showcase/game2.png
      title: Space Haven <br/>Bugbyte Ltd. 出品
      link: https://store.steampowered.com/app/979110/Space_Haven/
    - image: assets/images/index_showcase/game3.png
      title: Delver <br/>Priority Interrupt 出品
      link: https://store.steampowered.com/app/249630/Delver/
    - image: assets/images/index_showcase/game4.png
      title: Transfinite Dungeon <br/>icefill 出品
      link: https://store.steampowered.com/app/1290750/Transfinite_Dungeon/
    - image: assets/images/index_showcase/game5.png
      title: Forsaken Portals <br/>Pottgames 出品
      link: https://store.steampowered.com/app/1338220/Forsaken_Portals/
---

<style>
  .splash {
    max-width: 1060px;
    margin: 0 auto;
  }

  .page__title {
    display: none;
  }

  .intro_text .archive__item-body {
      max-width: 700px;
      width: auto;
  }
</style>

<div class="intro_text">
  {% include feature_row id="intro" type="center" %}
</div>

<div style="max-width: 600px !important; margin-left: auto; margin-right: auto;">
      {% include carousel.html elements=page.carousel_elements height="337" unit="px" duration="7" %}
</div>

{% include feature_row id="feature_row5" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}

<br/>

{% include tag_preview.html tag="changelog" type="left" %}

{% include feature_row id="feature_row4" type="right" %}

{% include feature_row id="feature_row6" type="left" %}

<br/>

<h1>最新新闻</h1>
<div class="grid__wrapper">
  {% for post in site.posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

<script async defer src="/assets/js/buttons.js"></script>
