---
# Based on https://github.com/mmistakes/minimal-mistakes/blob/master/_layouts/single.html
layout: default_wiki
---

<div id="main" role="main">
  <header>
    {% if page.title %}<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}

    <div class="header-meta">
      {% comment %}{% if page.last_modified_at %}Last edited on {{ page.last_modified_at | date: '%d %B %Y' }} • {% endif %}{% endcomment %}<a href="{{ site.github.repository_url }}/commits/dev/{{ page.path }}">查看修订历史</a> • <a href="{{ site.github.repository_url }}/edit/dev/{{ page.path }}">在 GitHub 上编辑</a>
    </div>
  </header>
  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    <div class="page__inner-wrap">
      <section class="page__content e-content markdown-body" itemprop="text">

          {{ content }}

          <aside class="sidebar__right">
            <div class="toc">
              <div class="wiki_toc__menu">
                <input id="wiki_ac-toc" name="accordion-toc" type="checkbox" />
                <label for="wiki_ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</label>

                {% capture sidebar_include %}{% include_cached wiki_index_zh.md %}{% endcapture %}
                <div class="wiki_nav__items">
                  {{ sidebar_include | markdownify }}
                </div>
              </div>
            </div>
          </aside>

        <div class="copyright_footer">
          <p style="font-size: 13px;margin-bottom: 0px !important;">
            <b>© {{ site.time | date: '%Y' }} libGDX</b> • 本 Wiki 由社区协作维护。如果你发现内容过时，或想补充更深入的讲解，非常欢迎动手完善。贡献之前，请先阅读我们的 <a href="/wiki/misc/wiki-style-guide">Wiki 风格指南</a>。
            <br/>
            <br/>
            <b>如果需要更多帮助，欢迎加入我们的 <a href="/community/discord/">Discord</a> 社区！</b>
          </p>
        </div>
      </section>
    </div>

  </article>
</div>
